#root {
  background-image: url('https://www.freepik.com/premium-photo/close-up-notebook_127540655.htm#from_element=cross_selling__photo') !important;
  background-size: cover !important;
  background-position: center !important;
}

.silvy-back {
  background-color: #0D0D0D !important;
}
